@charset "UTF-8";

body{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    background-color: black;
    color: white;
}
img#setadir{
    width: 50px;
    position: relative;
    left:130px;
    bottom: 9px;
}
img#setaesq{
    width: 50px;
    position: relative;
    right: 560px;
}
img#php{
    position: relative;
    left: 50px;
}
input{
width: 150px;
height: 40px;
font-size: 25px;
}
p#alinhamento{
   text-align: start;
   position: relative;
   left: 600px;
}